**/*.md
**/*.yml
**/LICENSE
**/.DS_Store
**/.directory
**/.gitignore
**/Dockerfile
**/desktop.ini
**/.dockerignore
**/.editorconfig
**/.gitattributes

# Folders
**/.git
**/.vscode
**/.github
**/node_modules
