**/*.md
**/*.yml
**/CNAME
**/LICENSE
**/.gitignore
**/Dockerfile
**/.dockerignore
**/.editorconfig
**/.gitattributes

# Folders
**/.git/
**/.vscode/
**/.github/
**/node_modules/

# File managers
**/.DS_Store
**/.directory
**/desktop.ini
