**/.env
**/*.md
**/*.sh
**/*.yml
**/CNAME
**/LICENSE
**/.gitignore
**/Dockerfile
**/.dockerignore

# Folders
**/.git/
**/.vscode/
**/.github/
**/node_modules/

# File managers
**/.DS_Store
**/.directory
**/desktop.ini
