# Ignore when download as zip with “export-ignore”.
*.md export-ignore
.git/ export-ignore
LICENSE export-ignore
.vscode/ export-ignore
CHANGELOG export-ignore
.gitignore export-ignore
.editorconfig export-ignore
node_modules/ export-ignore
.gitattributes export-ignore

# Default decision when conflicts appear: default, ours, then.
yarn.lock merge=ours
